.inactiveLink {
   pointer-events: none;
   cursor: default;
}

#deletebtn {
   background: none!important;
   border: none;
   padding: 0!important;
   /*optional*/
   font-family: arial, sans-serif;
   /*input has OS specific font-family*/
   color: #CC0000;
   display: inline;
}